.promo-section {
  padding-top: 7rem;
  transition: .5s;
}

.promo-section .container {
  width: 100%;
}

.promo-section .row {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.promo-headings {
  font-weight: bold;
  font-size: 60px;
}

.promo-subheadings {
  font-weight: medium;
  font-size: 36px;
}

.side-image {
  max-width: 37rem;
  max-height: 17rem;
}

.promo-image {
  max-width: 8rem;
  max-height: 8rem;
}

.promo-image-truck {
  max-width: 11rem;
  max-height: 11rem;
}