nav {
  position: fixed;
  z-index: 10;
  height: 12%;
  background-color: white;
}

nav .container {
  width: 90%;
}

nav .row {
  padding-top: 1rem;
}

.FarmFresh-img {
  max-width: 15rem;
  max-height: 12rem;
}

.searchfield {
  width: 80% !important;
  border: 1px solid #ececec !important;
  border-width: thin !important;
  border-radius: 2px 0px 0px 2px !important;
  font-size: 18px !important;
  padding-left: 3% !important;
  background-color: rgb(242, 242, 242) !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(111, 111, 111);
}

nav .btn {
  height: 3.1rem;
  margin-bottom: 1%;
  box-shadow: none;
  background-color: rgb(46, 117, 180);
  border-radius: 0px 2px 2px 0px;
}

nav .search-icon {
  height: 100% !important;
  line-height: 53px !important;
  color: rgb(134, 174, 207) !important;
}

.Cart-img {
  max-width: 4rem;
  max-height: 4rem;
}
